@model Kartverket.Models.ViewModels.AreaChangesViewModel

@{
    ViewData["Title"] = "Edit Area Change";
}

<h2>Edit Area Change</h2>

<form asp-action="EditAreaChange" method="post">
    <input type="hidden" asp-for="Id" /> @* This code is used for giving users the opportunity to identify which area they want to change *@

    @* This section consists of four different fields where users can give or edit the data *@
    <div class="form-group">
        @* Users can describe the area change *@
        <label asp-for="ViewDescription">Description</label>
        <input asp-for="ViewDescription" class="form-control" />
    </div>

    <div class="form-group">
        @* JSON-data related to the area can be changes *@
        <label asp-for="ViewAreaJson">Area JSON</label>
        <textarea asp-for="ViewAreaJson" class="form-control"></textarea>
    </div>

    <div class="form-group">
        @* Let users choose the municipality name for the area change *@
        <label asp-for="ViewKommunenavn">Municipality Name</label>
        <input asp-for="ViewKommunenavn" class="form-control" />
    </div>

    <div class="form-group">
        @* Let users choose the county name for the area change *@
        <label asp-for="ViewFylkenavn">County Name</label>
        <input asp-for="ViewFylkenavn" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button> @* Let the users save or cancel the changes made *@
    <a asp-action="AreaChangeOverview" class="btn btn-secondary">Cancel</a>
</form>