﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> signInManager

@{
    ViewData["Title"] = "Report Submitted Successfully";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container">
    @* This section displays a notice for the user that the report submitted successfully, etc. *@
    <div class="alert alert-success">
        <h2>@ViewBag.SuccessMessage</h2>
        <p>Your report has been submitted successfully. Our team will review it shortly.</p>
        <p>Thank you for helping us improve our services!</p>
    </div>

    <div class="mt-4">
        @* An action that lets the user return to home page *@
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Return to Home</a>
    </div>
</div>

@if ((User.IsInRole("Caseworker"))) @* Cheks if the user is a caseworker *@
{
    <div class="container">
        @* If true, this container shows the message that the report has been finished *@
        <div class="alert alert-success">

            <p>Your report has been finished.</p>

        </div>

        <div class="mt-4">
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Return to Home</a>
        </div>
    </div>
}