﻿<!DOCTYPE html>
<html lang="en">
<head>
    @* Inneholder metadata som er essensielt for nettleseren. Angir også at dokumentet bruker UTF-8-tegnsett *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> @* Linker til bootstrap.min.css filen *@
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<body>
    @* Synliggjør innholdet på nettsiden. div er inneholdet for kontaineren hvor også RenderBody setter inn innhold fra hver sin visning *@
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) @* Gir mulighet til å legge til sidespesifikt javascript kode *@
</body>
</html>