﻿
@model Kartverket.Models.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container"> @* A container that displays the forgot password page *@
    <div class="account-box">
        <h2 class="text-center mb-4">Forgot Password</h2>

        <form asp-action="ForgotPassword" method="post"> @* Let the user´s email address be retrieved and then sent to the server *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> @* Shows validation error for the model and then marks it in red *@

            <div class="mb-3"> @* Email input field *@
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Send Reset Link</button> @* An interactive button for users to send in a reset password request *@
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}