﻿
@model Kartverket.Models.ViewModels.ResetPasswordViewModel

<form asp-action="ResetPassword" method="post"> @* Reset password action, sends data to reset password action and the controller when the users send in the forms *@
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div> @* Let the users input their new password *@
        <label>New Password</label> 
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div> @* Let the users confirm their new password *@
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Reset Password</button> @* Submit button *@
</form>